@model CSE3200_Project.Models.Content
@using CSE3200_Project.Models

@{
    ViewBag.Title = "Contents - Details";
    User current_user = (User)HttpContext.Current.Items["current_user"];
}

<h2>Details</h2>

<div>
    <h4>Content</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.creation_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creation_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modification_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modification_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            <a href="@Model.url">@Html.DisplayFor(model => model.url)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alternative_url)
        </dt>

        <dd>
            <a href="@Model.alternative_url">@Html.DisplayFor(model => model.alternative_url)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.privacy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.privacy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.User.name)-->
            Created By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.name)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.User1.name)-->
            Last Modified By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.name)
        </dd>

        <!-- show all the tags -->

        <dt>
            Tags
        </dt>

        <dd>
            @for (int i = 0; i < Model.tags.Count; ++i)
            {
                <span><a href="/?tag=@Model.tags.ElementAt(i).tag1&type=any">@Model.tags.ElementAt(i).tag1</a></span>
                if (i < Model.tags.Count - 1)
                {
                    <span>|</span>
                }
            }
        </dd>

        <dt>
            Associated Shelves
        </dt>
        <dd>
            <table class="table table-responsive table-hover table-condensed table-striped text-justify">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                @foreach (Shelf shelf in Model.Shelves)
                {
                    <tr>
                        <td><a href="/shelves/details/@shelf.id">@shelf.title</a></td>
                        <td>@shelf.details</td>
                        <td>@shelf.User.username</td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @if (current_user != null)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
