@using CSE3200_Project.Models
@{
    User current_user = (User)HttpContext.Current.Items["current_user"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Digital Resource Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body background="~/Content/image/bg.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Digital Resource Index", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Contents", "index", "contents")</li>
                    <li>@Html.ActionLink("Shelves", "index", "shelves")</li>
                    @if (current_user != null)
                    {
                        if (current_user.role.ToLower().Equals("admin"))
                        {
                            <li>@Html.ActionLink("Users", "index", "users")</li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_NavBarPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <ul id="messages" class="alert alert-dismissible" role="alert">
            @if (Request.Cookies["Message"] != null && Request.Cookies["Message"]["message"] != null)
            {
                <li>@Request.Cookies["Message"]["message"]</li>
                Response.Cookies["Message"].Expires = DateTime.Now.AddDays(-1d);
            }
        </ul>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 190104072 - 190104071 - 190104060</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
